<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/static/style.css">
  <title>Обо мне</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c&display=swap" rel="stylesheet">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=M+PLUS+Rounded+1c&display=swap" rel="stylesheet">

</head>
<body>
  <section class="back">
  <header class="header">
    <div class="container">
      <nav class="nav">
        <ul class="menu">
          <li><a class="menu_item menu_item1" href="/">Главная</a></li>
          <li><a class="menu_item menu_item2" href="/projects">Проекты</a></li>
          <li><a class="menu_item menu_item3 active" href="/about">Обо мне</a></li>
          <li><a class="menu_item menu_item4" href="/blog">Блог</a></li>
          <li><a class="menu_item menu_item5" href="/contacts">Контакты</a></li>
        </ul>
       </nav>
    </div>
  </header>
    <div class="container">
      <div class="inf_bx">
        <div class="img_me"></div>
        <div class="info_box">
          <h1>Обо мне</h1>
          <h4>Привет, я Запорожец Петр Мансурович. Я являюсь студентом 3 курса Копейского политехнического колледжа. Учусь на специальности Информационные системы и программирование. Этот сайт представляет из себя краткую информацию обо мне, которую я готов предоставить для публичного доступа.

            <br><br>
    
            Я интересуюсь новыми технологиями, программированием и кибербезопасностью. В настоящее время занимаюсь изучением различных языков программирования, таких как Python, Kotlin и JavaScript, а также исследую возможности для создания мобильных приложений и разработки веб-сервисов.
    
            <br><br>
    
            Моим основным увлечением является программирование, а также я активно занимаюсь участием в хакатонах и различных конкурсах для развития своих навыков. Я также увлекаюсь криптографией, шифрованием данных и изучением современных технологий защиты информации.
    
            <br><br>
    
            На текущий момент я успешно завершил несколько проектов, включая создание веб-сайтов на HTML, CSS и JavaScript, а также написание приложений на Python с использованием фреймворков PyQt и FastAPI.
    
            <br><br></h4>
        </div>   
      </div>
      </div>
      <section class="space">
        <div class="skils">
          <div class="container">

          <div class="skils_about">
            <h1>Навыки</h1>
            <h4>Имея небольшой опыт я уже обладаю следующими навыками:
              <ul class="skils_list">
                <li><h4 class="skils_list skils_list1">Python, включающий в себя библиотеки PyQt, Sklearn, FastAPI</h4></li>
                <li><h4 class="skils_list skils_list2">Базовые навыки обратного програмирования, использую приложение IDA</h4></li>
                <li><h4 class="skils_list skils_list3">Навыки шифрования и дешифрования информации</h4></li>
                <li><h4 class="skils_list skils_list4">Владение HTML и CSS</h4></li>
                <li><h4 class="skils_list skils_list5">Навыки OSINT</h4></li>
                <li><h4 class="skils_list skils_list6">Базовые навыки Kotlin для создания мобильных приложений</h4></li>
              </ul>
            </h4>
          </div>
          <div class="skils_img"></div>

        </div>
        </div>
      </section>
    </div>
  </div>
  </section>
</body>
</html>