<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/static/style.css">
  <title>Блоги</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c&display=swap" rel="stylesheet">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=M+PLUS+Rounded+1c&display=swap" rel="stylesheet">

</head>
<body>
  <section class="back">
  <header class="header">
    <div class="container">
      <nav class="nav">
        <ul class="menu">
          <li><a class="menu_item menu_item1" href="/">Главная</a></li>
          <li><a class="menu_item menu_item2" href="/projects">Проекты</a></li>
          <li><a class="menu_item menu_item3" href="/about">Обо мне</a></li>
          <li><a class="menu_item menu_item4 active" href="/blog">Блог</a></li>
          <li><a class="menu_item menu_item5" href="/contacts">Контакты</a></li>
        </ul>
       </nav>
    </div>
  </header>
  </section>
  <section class="content">
    <div class="container">
      <div class="contacts_bloc">
      <div class="text-block">
        <h1>Мои социальные сети</h1>
        <p>
          Будьте в курсе всех новостей, обновлений и проектов! Я всегда рад общению и делюсь интересным контентом. Присоединяйтесь и следите за моими публикациями!
        </p>
        <li class="link">Telegram <a  href="https://t.me/SuJ0o">@SuJo</a> мои контакты, если вам требуется связаться со мной</li>
        <li class="link">Мой тгк канал <a  href="#">Берлога Пивовара</a>. Подпишись, и следи за моими новостями</li>
        <li class="link">Мой ВКонтакте <a  href="#">Петр Запорожец</a>Крайне не рекомендую туда писать</li>
        <li class="link">Мой YouTube канал <a href="https://www.youtube.com/@sujo400"></a>смотрите мои видеообзоры, влоги и другие видео на разные темы!</li>
      </div>
      <div class="image-block">
        <img src="/static/img/girl.gif" alt="Изображение">
      </div>
    </div>
    </div>
  </section>
</body>
</html>