<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/static/style.css">
  <title>Проекты</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c&display=swap" rel="stylesheet">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=M+PLUS+Rounded+1c&display=swap" rel="stylesheet">

</head>
<body>
  <section class="back">
  <header class="header">
    <div class="container">
      <nav class="nav">
        <ul class="menu">
          <li><a class="menu_item menu_item1" href="/">Главная</a></li>
          <li><a class="menu_item menu_item2 active" href="/projects">Проекты</a></li>
          <li><a class="menu_item menu_item3" href="/about">Обо мне</a></li>
          <li><a class="menu_item menu_item4" href="/blog">Блог</a></li>
          <li><a class="menu_item menu_item5" href="/contacts">Контакты</a></li>
        </ul>
       </nav>
    </div>
  </header>
  
    <div class="container">
      <div class="about">
        <h1>SuJo</h1>
        <h4>Здесь должны быть Проекты</h4>
        <div class= "image_person"></div>
      </div>
    </div>
  </section>
</body>
</html>